#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Sat Nov 16 10:16:22 CET 2024
tier0progressionUpgradeSpeed=0
tier3progressionUpgradeSpeed=9
tier2progressionUpgradeSpeed=6
tier1progressionUpgradeSpeed=3
experienceDropChance=10
speedEnhancementUpgradeSpeed=6
